<section>
    <div class="top-banner">
        <img src="img/contact.jpg" alt="" class="img-responsive">
    </div>
    <div class="banner-title text-center">
        <h4>Contact Us</h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h3>EDUWORK INTERNATIONAL SERVICES PVT LTD.</h3>
                    <p>
                        Office No. 6, Ground Floor, Simran Plaza,
                        <br> Corner of 3rd & 4th Road, Khar (West),
                        <br> Mumbai - 400 052, India.
                    </p>
                    <p>
                        <a href="tel:+912240733100">Tel: +91 22 4073 3100</a>
                    </p>
                    <p>
                        <a href="#">www.eduworkjapan.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <form action="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Parent/Guardian Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Age" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Educational Qualifications" required>
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>