<section>
    <div class="top-banner">
        <img src="img/course.jpg" alt="" class="img-responsive">
    </div>
    <div class="banner-title text-center">
        <h4>Our unique offering that’ll transform your career </h4>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    The course of Automobile Mechanic is what EduWork offers to students as of now. EduWork aims to offer many more courses in
                    the future.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h3>Diploma in Automobile Engineering</h3>
                    <p>Car professionals with advanced knowledge and skills</p>
                </div>
                <div>
                    <p>
                        EduWork in partnership with O-HARA College of Business offers you a curriculum that produces the industry's highest grade
                        automobile mechanics, boasting a pass rate of 100% for second grade automobile mechanic. Every year,
                        O-HARA has a high employment record, and two in three of their graduates are active as mechanics
                        for major car dealers. O-Hara trains professionals of automobiles that are also excellent in business
                        skills and advanced diagnostic abilities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="dt-course">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h3>Detailed Course</h3>
                    </div>
                    <div>
                        <h4>Second-class Certified Automobile Mechanic</h4>
                        <p>3 year course in which 1 st year comprises of Japanese language training</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <h4>Point 1</h4>
                        <p>
                            Hands-on training is given to students on a constant basis, so that they can focus on it.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h4>Point 2</h4>
                        <p>
                            First-year students focus on hands on practice to develop necessary basic skills.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <h4>Point 3</h4>
                        <p>
                            Second-year students have more in-class lectures for national examinations after graduation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wk-sch">
            <div class="table-responsive">
                <table>
                    <thead>
                        <th></th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1st Day</td>
                            <td>Hands on training</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>