<section>
<homeslider>
  <flex-slider flex-slide="s in mySlides track by $index" prev-text="" next-text="">
      <li>
          <img ng-src="{{s}}" class="img-full">
      </li>
  </flex-slider>
</homeslider>

  </div>

</section>
<section >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 padding0">
        <div class="left-offer">
          <img src="img/home-side.jpg" alt="" class="img-responsive w100">
        </div>
      </div>
      <div class="col-md-6 padding0">
        <div class="right-offer">
          <img src="img/bg-grey.jpg" alt="" class="img-responsive w100">
<div class="right-content">
  <div class="content-title">
    <h2 class="margin0 color-red">
Our unique offering that’ll transform your career
    </h2>
  </div>
  <div class="content-desc color-base">
    <p>
The course of <b>Diploma in Automobile Engineering</b> is what O-HARA College of Business, Japan, offers to students currently. EduWork aims to offer many more courses in the near future.
    </p>
  </div>
      <div class="pull-right">
        <button class="btn btn-primary-outline">know more</button>
      </div>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>

    <div class="container">
      <div class="bg-red">
      <div class="row">
        <div class="text-center color-white">
          <h2>Why choose EduWork and O-HARA College of Business</h2>
        </div>
        <div class="col-md-12">
          <div class="why-choos">
            <ul class="ul-li-list color-white text-center padding0">
              <li ng-repeat="item in listdata track by $index">
                {{item}}
              </li>
            </ul>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary-outline-white">know more</button>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="home-service">
          <div >
            <h2 class="color-red">Small or big, every facet diligently taken care of</h2>
          </div>
          <div class="home-service-desc">
            <p>
Our main focus is to promote study and work in Japan for Indian students and be committed to providing end to end solutions for their overseas education.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="position-relative pad-mid-box">
  <div class="service-below">
    <img src="img/left-corner.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="service-list">
          <ul class="padding0 display-inline ul-li-list">
            <li ng-repeat="item in services track by $index">
              <div class="main-ser-box">
                <div class="img-icon">
                  <img ng-src="{{item.img}}" alt="">
                </div>
                <div class="ser-box-name">
                  <span>
{{item.name}}
<hr>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="service-list mt40">
          <ul class="padding0 display-inline ul-li-list">
            <li ng-repeat="item in services2 track by $index">
              <div class="main-ser-box">
                <div class="img-icon">
                  <img ng-src="{{item.img}}" alt="">
                </div>
                <div class="ser-box-name">
                  <span>
{{item.name}}
<hr>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="text-center mt20">
            <button class="btn btn-primary-outline">know more</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-red extra-pad position-relative ">
  <div class="middle-curve-img">
    <img src="img/right-curve.png" alt="">
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <div class="middle-sec-box">
        <div class="middle-sec-title">
          <h2 class="color-white">Moulding international careers the Japanese way</h2>
        </div>
        <div class="middle-sec-desc color-white">
          <p>Being the guiding light for students world over, in helping them choose the right stream of education along with concurrent placement services in Japan; EduWork comprises a team of experts in the HR and overseas education domains that builds successful careers. </p>
          <p>EduWork in partnership with O-HARA College Of Business, Japan, empowers you with the Diploma in Automobile Engineering course and stands to offer many more courses in the near future.</p>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary-outline-white">know more</button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="bg-pic">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="home-cr-box">
          <div class="cr-title">
            <h2 class="color-red">Courses offered by O-HARA College Of Business</h2>
          </div>
          <div class="cr-list-detail">
            <ul class="padding0">
              <li ng-repeat="item in course track by $index">
{{item}}
              </li>
            </ul>
          </div>
          <div class="cr-ft-text">
            <span class="color-red" style="font-weight:600">
The course of Diploma in Automobile Engineering is what EduWork offers currently.</span>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
<div class="cf-ft">
  <div class="col-md-4 padding0">
      <div class="cf-ft-img">
        <img src="img/f1.png" alt="" class="img-responsive">
      </div>
  </div>
  <div class="col-md-4 padding0">
    <div class="cf-ft-img">
        <img src="img/f2.png" alt="" class="img-responsive">
    </div>

  </div>
  <div class="col-md-4 padding0">
    <div class="cf-ft-img">
        <img src="img/f3.png" alt="" class="img-responsive">
    </div>
  </div>
</div>
        </div>
        <div class="row">
          <div class="col-md-12 padding0">
                <img src="img/f-big.jpg" alt="" class="img-responsive">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
