<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p>Copyright &copy; Eduwork 2017.</p>
            </div>
            <div class="col-sm-3">
                <div class="text-center" style="margin-top:8px">
                    <a href="">Disclaimer</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                  <div class="social-footer">
                    <span>Follow us in</span>
                    <ul class="padding0 ul-li-list">
                      <li>
                        <a href="">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <i class="fa fa-linkedin"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pull-right">
                    <p>Designed by  <a href="" target="_blank">TING</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
